# Container_types_Intro

Container/Refenrence types:
- 'list'
- 'container'
- 'tuple'
- 'dictionary'

In [24]:
fruits=['apple', 'banana' , 'chery' ]
print(fruits)

['apple', 'banana', 'chery']

In [25]:
mixed=['apple', 3, True]

print(mixed)

['apple', 3, True]

In [1]:
list('abcd')
mystr=("Temur Aziz va men")
print(list(mystr))

['T', 'e', 'm', 'u', 'r', ' ', 'A', 'z', 'i', 'z', ' ', 'v', 'a', ' ', 'm', 'e', 'n']

#### Stringda qanday bo`lsa, listda ham indexing bor. Lekin u elementlarni sanaydi.  
Misol uchun:

In [27]:
number=[1,2,3,4,5,6,7,8,9]
(number[::2])

[1, 3, 5, 7, 9]

In [94]:
a = 5
b = a 
print(id(a))
print(id(b))
a += 1
print(a)
print(b)

1830211551600
1830211551600
6
5

In [29]:
a=[1,2,3]
a.append([4])      # append is method of list that is used to join 1 element to the end of list.
print(a)

[1, 2, 3, [4]]

In [30]:
b=a.copy()
print(b)

[1, 2, 3, [4]]

In [31]:
c=[[1,2], [3,4]]
print(c[0][0])   #it shows 1th element of 1th element

1

In [95]:
a=[1,2,3]
b=a 
print(id(a))
print(id(b))
#refenrece assignment
a.append(4)
print(a)
print(b)
#xotirada 1ta joy yaratildi, unga borish uchun a va b yo`l bor. Qaysi yo`lni tanlasak ham, manzil bir xil
print(id(a))
print(id(b))

1830288515328
1830288515328
[1, 2, 3, 4]
[1, 2, 3, 4]
1830288515328
1830288515328

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9]
numbers.extend([11, 12, 13, 14])
numbers

#### we have Copy and Deepcopy
#Shallow and Deep copy
Copy qilinganda 2ta alohida obyekt yaratiladi
Shallow copy faqatgina level 1da copy qiladi, deepcopy esa container ichidagi container, barcha ma`lumotlarni copy qiladi

# list methods
- 'append()'        adds elements to the list as one single item
- 'clear()'         clears everything in the list
- 'copy()'          copy 
- 'count()'         counts how many times selected item repeated
- 'extend()'        adds elements to the list. But as separate items
- 'index()'         to know in which index in the list the selected items is. example fruits.index('apple') 
- 'insert()'        insert the new element to selected index use: number.insert(index number, element)
- 'pop()'           removes last element if nothing written in (), if written (), it index number of elements
- 'remove()'        remove selected item from the list
- 'reverse()'       in-place reverse. Listdagi elemetlarning joyini almashtiradi reversely
- 'sort()'          elementlarni alfabet yoki o'sish tartibi bo'yicha tartiblaydi.

# list qilisht turlari
1. name=['item1', 'item2']
2. list([1,2,3,4])
3. list('absswv')

In [32]:
fruits=['apple' , 'banana']
fruits.append('apple')
fruits

['apple', 'banana', 'apple']

In [33]:
fruits.count('apple')

2

In [34]:
fruits.extend(['watermelon', 'melon', 'peach'])
#fruits #difference betwwen append and extend is that append joins the element as one to list, even though it has several elemets in list. But extend joins the elements as several elements to list.

In [ ]:
fruits.append(['watermelo', 'melon', 'peach'])
#fruits

In [ ]:
fruits=[ 'peach' ,'apple',  'peach' , 'banana', 'ananas' , ' apple' , 'melon' , 'watermelon' , 'peach']
fruits.index('peach', 3) #index shows the position of element n list, 3 is starting point of search

8

In [37]:
fruits.index('peach', fruits.index('peach')+1) #shows the position of 2nd peach in list

2

In [38]:
#fruits.pop(0) #pop() deletes the last element of list

fruits.append("apple")

In [53]:
fruits=[ 'peach' ,'apple',  'peach' , 'banana', 'ananas' , 'apple' , 'melon' , 'watermelon' , 'peach']

In [63]:
fruits

['peach', 'peach', 'banana', 'ananas', 'apple', 'melon', 'watermelon', 'peach']

In [ ]:
fruits.remove("apple")

fruits.index('selected item', n that is starting point, m that is ending point)

In [ ]:
#fruits.index('banana', 1,4)
# 1 is starting point and 4 is ending point so that banana is searched inside this indexes
fruits.index('peach', (fruits.index('peach')+2)) 
#we can also take starting or ending point related to index

7

Agar listda bir necha marotaba qatnashgan elementlar bo`lsa ,va remove('element') dan foydalansak faqatgina birinchi qatnashgan elementni olish tashlaydi.

Biz fruits.remove(fruits[3]) dan ham foydalanishimiz mumkin

In [ ]:
fruits.sort() #if nothing is written in () it sorts in alphabetic order
fruits
numbers=[25,2,1,3,5,6,354,76,9]
sorted(numbers) #raqamlarni o`sish tartibida saralaydi
#teskaridan saralashuchun
sorted(numbers, reverse=True)
fruits.sort(reverse=True)
fruits

Tartib shartlarnini o`zimiz yaratishimiz mumkin: 
sorted(fruits, key=lambda x: len(x))

In [33]:
#sorted(fruits, key=lambda x: len(x))
# x here is just parameter, we can change it whatever we want. We can change variables, for exaample, we ca sort out numbers by absolute value if negative number we have in the list
number=[1,3,24,54,12,-12,-45,9]
sorted(number, key=lambda z: abs(z))
number
#number.insert(1,43)
number
sorted(number, key=lambda z: abs(z))
number
number.pop(0)

1

## TUPLE

Tuple is also kind of list, but it is immutable, which means cannot be changed.

In [106]:
a=(1,2,3,4,5)
#s=slice(0,3) = a[0:3] #we can also use slice(start, end, step) to get elements
s=slice(0,5,2)
a[s]
a[0:1] #output (1,) since it should indicate it is tuple
tuple([21])

(21,)

Tuple immutable bo'lgani uchun uning faqat Index va Count methodlari bor. 
Tuple va Listning ishlatilish holatlari bor. Agar o'zgartirilish kerak bo'lsa listdan foydalaniladi, unday bo`lmasa, Tupledan foydalaniladi.

In [ ]:
tuple()=tuple(()) #empty tuple

In [ ]:
#Tuple unpacking 

t=(1, 'aufjnkekqeg', 23) 
id, name, age=t    #Now, 1 is ID, 'aufjnkekqeg' is name and 23 is age
id

result, remainder=tuple(divmod(10,3))

## Dictionary

in DIctionary type: 
we have: 

key:value

example: 'name': "John"

In [9]:
person = {
    'name': "Temur",
    'email': "khazratkuovtemur@gmail.com",
    'age': 17
}
person2 = {
    'name': "Aziz",
    'email': "Aziz@gmail.com",
    'age': 13
}


person.keys() #to find what keys person has
person.values() #to find values preson has
person.items() #to find all items person has

dict_items([('name', 'Temur'), ('email', 'khazratkuovtemur@gmail.com'), ('age', 17)])

In [127]:
person['name'].upper()

'TEMUR'

In [ ]:
dict([('name', 'Temur'), ('email', 'khazratkuovtemur@gmail.com'), ('age', 17)])   #to create dictionary by dict()

{'name': 'Temur', 'email': 'khazratkuovtemur@gmail.com', 'age': 17}

In [2]:
#in 3 ways we can create dictionary

#1st

person={
    'name': "Temur",
    'email': "temur@gmail.com"
}
#2nd 

person=dict([('name', 'Temur'), ('email', 'temur@gmail.com')])

#3rd way

person = dict(name='Temur' , email='temur@gmail.com')

In [4]:
person['lname']='Xazratqulov'#add new key and value to the dictionary
print(person)

{'name': 'Temur', 'email': 'temur@gmail.com', 'lname': 'Xazratqulov'}

In [ ]:
#Dictionaryga stringni, integerlarni, boolni, va tupleni key sifatida qo`sish mumkin

k1=1
k2=False
k3='yes'
k4=(1,2,3)

d2= {
    k1: 'a', 
    k2: 'ab', 
    k3: 'abc', 
    k4: 'abcd'
    

}

d2

{1: 'a', False: 'ab', 'yes': 'abc', (1, 2, 3): 'abcd'}

In [13]:

k1=1
k2=False
k3='yes'
k4=(1,2,3)
#k5=[1,2,3]

d2= {
    k1: 'a', 
    k2: 'ab', 
    k3: 'abc', 
    k4: 'abcd',
   #k5:'abcde'

}

#We cannot use list as a key in dictionary, even if it is in the tuple
d2

{1: 'a', False: 'ab', 'yes': 'abc', (1, 2, 3): 'abcd'}

In [ ]:
#Hashable degani hash() funsiyasi ichiga joylash mumkin degani

In [ ]:
table = {
    1: 'a',
    2: 'b',
    3: 'c'
}
table
table.update({4:'e', 1:'f'})
table

#update method orqali dictionaryga yangi elementlarni qo`sha olamiz, agar mavjud keyni qo`shsak lekin valuesi o`zgargan bo`lsa, valueni yangilaydi shu key uchun.

{1: 'f', 2: 'b', 3: 'c', 4: 'e'}

## SET
To`plam

In [ ]:
letters = { 'a', 'b', 'c', 'd'}
type(letters)
letters
letters = { 'a', 'b', 'c', 'd', 'a', 'a', 'b'} #SET shunday narsaki bir element faqatgina bir marta keloladi, agar SETda element bir martadan ko`p qatnashgan bo`lsa ham, outputda bitta ko`rsatadi`
letters
letters1=['a', 'b', 'c', 'd', 'e', 'a', 'a', 'b'] #ko`p marta qatnashgan elementlarni o`chirish uchun setdan foydalanamiz

letters1
list(set(letters1)) #set ko`p marta qatnashgan elementlarni o`chiradi

['c', 'b', 'e', 'd', 'a']

In [ ]:
s1={'a', 'b', 'c'}
s2={'d', 'a', 'b'}
s1.union(s2)
#there is symbols for only set meaning union and intersection 
# | means union, and & means intersection
s1&s2
s1|s2

#there is also difference method in set, meaning that s1-s2 To`plamlar ayirmasi`
#there is also symmetric_diference that shows all differences
s1.symmetric_difference(s2) #symmetric_difference() = ^

{'c', 'd'}

## in function

In [22]:
'apple' in ['apple', 'banana']

True

# Namedtuple

In [28]:
from collections import namedtuple
#his line imports the namedtuple factory function from the collections module.

Person =namedtuple('Person', ['name', 'age', 'city'])
#This line creates a new class named Person with three attributes: name, age, and city

person1=Person('Temur', 17, 'Jizzakh')
person2=Person('Aziz', 13, 'Jizzakh')
person1[0]
#to access elements of namedtuple, we can use index with [] or attribute with .

'Temur'