In [4]:
import sqlite3


conn = sqlite3.connect("example.db")  # Creates a file-based database
conn.close()  #we create file with connect()

In [5]:
conn = sqlite3.connect("example.db")
cursor=conn.cursor()
cursor.execute("CREATE TABLE users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)")
conn.commit()
conn.close()

OperationalError: table users already exists

In [ ]:
cursor.execute("INSERT INTO users (name, age) VALUES ('Alice', 25)")

In [ ]:
con=sqlite3.connect(":memory:")
query="Select datetime('now', 'localtime')"
cursor=con.cursor()
time=cursor.execute(query)
#time.fetchall()      #bring every data
time.fetchmany()   #bring  specified data  fetchmany(n)
 #time.fetchone() #bring only one

con.close()

In [ ]:
import sqlite3
with sqlite3.connect("students.db") as connection:
    cursor=connection.cursor()
    query="Create table Students(fname text, lname text, age int);"
    data=cursor.execute(query)

In [ ]:
with sqlite3.connect("students.db") as connection:
    cursor=connection.cursor()
    query="Insert into Students Values('Temur', 'Xazratqulov', 18)"
    data=cursor.execute(query)

In [ ]:
with sqlite3.connect("students.db") as file:
    cursor=file.cursor()
    query="Insert into Students Values('Aziz', 'Xazratqulov', 14)"
    data=cursor.execute(query)

In [ ]:
#Instead of writing code each time, we can do following

create = """
    Create table Students(fname text, lname text, age int, GPA float);
"""
data = """
    "Insert into Student Values('John', 'Whick', 20, 3.5),('John', 'Whick', 20, 3.5),('John', 'Whick', 20, 3.5),('John', 'Whick', 20, 3.5),('John', 'Whick', 20, 3.5),('John', 'Whick', 20, 3.5),('John', 'Whick', 20, 3.5);"
"""

In [ ]:
import sqlite3
delete ="""
    Drop table Students
"""
with sqlite3.connect("students.db") as con:
    cursor=con.cursor()
    cursor.execute(delete) 
#Drop table deletes the table
#we can add condition
#Drop table if exists Students

In [9]:
sql = """
    Drop table if exists Students;

    Create table Students(fname text, lname text, age int, GPA float);

    Insert into Students Values('Temur', 'Xazratqulov', 17, 3.625), ('John', 'Whick', 21, 4), ('Muhammadjon', 'Uralov', 18, 4.125);
"""

In [10]:
import sqlite3
with sqlite3.connect("studentsss.db") as con:
    cursor=con.cursor()
    table=cursor.executescript(sql) #executescript() is for several commands in query

In [ ]:
with sqlite3.connect("studentsss.db") as con:
    cursor=con.cursor()
    query="Select * from Students order by age desc"
    data=cursor.execute(query)
data.fetchmany(2)

[('John', 'Whick', 21, 4.0), ('Muhammadjon', 'Uralov', 18, 4.125)]

In [ ]:
student_data = (
    ('Ali', 'Valiyev', 19, 3.4),
    ('Ali', 'Valiyev', 19, 3.4),
    ('Ali', 'Valiyev', 19, 3.4),
    ('Ali', 'Valiyev', 19, 3.4),
    ('Ali', 'Valiyev', 19, 3.4),
    ('Ali', 'Valiyev', 19, 3.4),
    ('Ali', 'Valiyev', 19, 3.4),
)

In [ ]:
import sqlite3
with sqlite3.connect("studentsss.db") as con:
    cursor=con.cursor()
    cursor.executemany("Insert into Students Values(?,?,?,?)", student_data)

In [ ]:
cursor.execute("UPDATE Roster SET name='Ezri Dax' WHERE age=300") #we can update by this way

data=cursor.execute("Select Name, age from Roster where species='Bajoran'")
print(data.fetchall()) #
print(data.fetchall()) #displaying

cursor.execute("Delete from Roster where age>100") #delete

rank = """
    ALTER TABLE Roster ADD COLUMN Rank TEXT;

    UPDATE Roster SET Rank = 'Captain' WHERE Name = 'Benjamin Sisko';
    UPDATE Roster SET Rank = 'Major' WHERE Name = 'Kira Nerys';
""" 
cursor.executescript(rank) #adding new column

all=cursor.execute("Select * from  Roster order by age desc")
print(all.fetchall()) #display

In [15]:
with sqlite3.connect("studentsss.db") as conn:
    cursor=conn.cursor()

    
    cursor.execute("UPDATE Students SET Course = 1 where fname = Temur")

OperationalError: no such column: Temur